jaxws-client-with-proxy/src/wsdl/hello.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns0="http://helloworld.example.schu.ch/" targetNamespace="http://helloworld.example.schu.ch/">
	<xsd:complexType name="sayHello">
		<xsd:sequence>
			<xsd:element name="arg0" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Hello" />
	<xsd:complexType name="HelloResponse" />
	<xsd:complexType name="sayHelloResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="sayHello" type="ns0:sayHello" />
	<xsd:element name="Hello" type="ns0:Hello" />
	<xsd:element name="HelloResponse" type="ns0:HelloResponse" />
	<xsd:element name="sayHelloResponse" type="ns0:sayHelloResponse" />
</xsd:schema>